<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src = "/javascripts/categorySort.js"></script>

    <% include header %><hr>
    <script>
        function searchContent(){
            if($('#searchWord').val == ''){
                alert("검색어를 입력해주세요~");
            }else{
                $('#searchAction').submit();
            }
        }
    </script>
</head>
<body>
    <!--최다 추천 청원-->
    <%if(hotPetition){%>
    <div class = "section_margin">
    <section class="container about-content" style="border: 2px solid black;padding-bottom: 15px;">
        <h2 class="title">최다 추천 청원</h2>
        <div class="mostContents">
        <h3 class="title" id="petitionTitle" style="font-weight: bold;"><%=hotPetition.title%></h3>
        <p class="about-text" id="petitionContent"><%=hotPetition.contents%></p>
            <div class="subcontents" style="float:left;  width: 40%;">
                <ul>
                    <li>
                        <div style="float:left; width: 20%;">
                        <strong>청원인</strong>
                        </div>
                        <span><%=nameSlicing(hotPetition.writer)%></span>
                    </li>
                    <li>
                        <div style="float:left; width: 20%;">
                        <strong>참여인원</strong>
                        </div>
                        <span><%=hotPetition.parti_cnt%> 명</span>
                    </li>
                    <li>
                        <div style="float:left; width: 20%;">                        
                        <strong>청원기간</strong>
                        </div>
                        <span><%=dateFormatChange(hotPetition.start_date)%>~<%=dateFormatChange(hotPetition.end_date)%></span>
                    </li>
                </ul>
            </div>
            <div class="subcontentsButton" style="float:right;">
                <button class="infos-button"><a href="/boards/view?id=<%=hotPetition._id%>">청원동의하기</a></button>
            </div>
        </div>
    </section>
</div>

    <%}%>
    <!--최다 추천 청원 끝-->

    <!--학생 청원 요건-->
    <div class = "section_margin">
    <section class="container about-content">
        <div class="alert alert-dismissible alert-secondary" style=" background-color: #e6f3ff;padding-bottom: 15px; margin-top: 20px;">
            <h4 class="text middle bold cb">국민 청원 요건</h4>
            <ul class="about-text">
               <li class="about-text">욕설 및 비속어를 사용한 청원은 관리자에 의해 삭제 될 수 있습니다.</li>
                <li>폭력적이고 선정적인 내용을 담은 청원은 관리자에 의해 삭제 될 수 있습니다.</li>
                <li>청소년에게 유해한 내용을 담은 청원은 관리자에 의해 삭제 될 수 있습니다.</li>
                <li>동일 이용자에 의해 동일한 내용으로 중복 게시된 청원은 최초 1개 청원만 남기고 '숨김'처리 또는 삭제 될 수 있습니다.</li>
                <li>한번 작성된  <span style="color:#019eef;">청원은 수정 및 삭제가 불가능합니다.</span> 최초 청원취지와 다른내용으로 변경되는 것을 방지하여 청원참여자 의견을 보호하기 위한 조치이니 신중하게 작성하여 주시기 바랍니다.</li>
                <li><span style="color:#019eef;">허위 사실이나 타인의 명예를 훼손하는 내용</span>이 포함된 청원은 관리자에 의해 '숨김'처리 또는 삭제될 수 있습니다.</li>
            </ul>
        </div>
    </section>    
    </div>
    <!--학생 청원 요건 끝-->

    <!--답변 대기 중인 청원-->
    <div class = "section_margin">
    <section class="container about-content">
        <table class="table table-hover">
            <h2 class="title">답변 대기 중인 청원</h2>
            <tr class="table-active">
                <th>번호</th>
                <th>분류</th>
                <th>제목</th>
                <th>청원인</th>
                <th>청원기간</th>
                <th>참여인원</th>
                <th>조회 수</th>
            </tr>
        
            <%if(waitPetition){%>
                <%var i = 0;%>
                <%waitPetition.forEach(function(item){%>
                <%i++;%>
                <tr>
                    <td class="number"><%=i%></td>
                    <td class="category"><%=item.category%></td>
                    <td class="title"><a href="/boards/view?id=<%=item._id%>"><%=item.title%></a></td>
                    <td class="writer"><%=nameSlicing(item.writer)%></td>
                    <td class="date"><%=dateFormatChange(item.start_date)%>~<%=dateFormatChange(item.end_date)%></td>
                    <td class="participants_cnt"><%=item.parti_cnt%></td>
                    <td class="cnt"><%=item.count%></td>
                </tr>
            <%})%>
            <%} else {%>
                <tr>
                    <td colspan="5">게시물이 없습니다.</td>
                </tr>
            <%}%>
            </table>
        </section>
        </div>
    <!--답변 대기 중인 청원 끝-->
        
    <!--청원 목록-->
    <div class = "section_margin">
    <section class="container about-content">
    <table class="table table-hover">
        <div style="float:left">
            <h2 class="title">청원 목록</h2>
        </div>
        <div style="float:right">
            <h2 class="title" style="font-size:15pt; font-weight: bold"><a href="/boards/write">지금 청원하기</a></h2>
            </div>
        <tr class="table-active">
            <th>번호</th>
            <th>분류</th>
            <th>제목</th>
            <th>청원인</th>
            <th>청원기간</th>
            <th>참여인원</th>
            <th>조회 수</th>
        </tr>

        <%if(contents){%>
            <%var i = 0;%>
            <%contents.forEach(function(item){%>
            <%i++;%>
            <tr>
                <td class="number"><%=i%></td>
                <td class="category"><%=item.category%></td>
                <td class="title"><a href="/boards/view?id=<%=item._id%>"><%=item.title%></a></td>
                <td class="writer"><%=nameSlicing(item.writer)%></td>
                <td class="date"><%=dateFormatChange(item.start_date)%>~<%=dateFormatChange(item.end_date)%></td>
                <td class="participants_cnt"><%=item.parti_cnt%></td>
                <td class="cnt"><%=item.count%></td>
            </tr>
            <%})%>
            <%} else {%>
            <tr>
                <td colspan="5">게시물이 없습니다.</td>
            </tr>
        <%}%>
    </table>

    <center>
    <div class="pagination" style="margin:auto;">
        <ul class="pagination">
        <%
        if(searchWord != '') {
        for(var i=1; i<=pagination; i++){%>
        <li class="page-item">
            <a href="/boards/search?searchWord=<%=searchWord%>&page=<%=i%>" class="page-link"><%=i%></a>
        </li>
        <%}} else {
        for(var i=1; i<=pagination; i++){%>
        <li class="page-item">
            <a href="/boards?page=<%=i%>" class="page-link"><%=i%></a>
        </li>
        <%}}%>
        </ul>
    </div>
     </center>
     </section>
    </div>
    <!--청원 목록 끝-->

    <div class = "section_margin">
    <section class="container about-content">
    <!--검색어 입력-->
        <div class="contact-form">
            <form action="/boards/search" method="get" id="searchAction" name="searchAction">
                <div class="col-xs-12 wow animated slideInLeft" data-wow-delay=".5s" style="float:left; width: 67%;">
                    <input type="text" name="name" class="form" id="searchWord" required="required" placeholder="검색어를 입력해주세요" />
                </div>
                <div class="relative fullwidth col-xs-12" style="float:left; width: 33%;">
                    <div class="form-btn semibold">
                        <a href="#" onclick="searchContent();">검색</a>
                    </div>
                </div>
            </form>
        </div>
    <!--검색어 입려 끝-->
    </section>
    </div>

    <% include footer%>

</body>
</html>

<%
function dateFormatChange(date) {
    return date.toLocaleDateString();
}
%>
<%
function nameSlicing(name){
    var hidename = name.slice(0,3);
    hidename = hidename.concat("***");

    var email_i = name.indexOf("@");
    return hidename.concat(name.slice(email_i));
}
%>